* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5F1D3;
    font-family: 'Montserrat Alternates';
    font-size: 22px;
}

header {
    background-color: #e4debe;
    width: 100%;
    padding: 30px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    top: 0;

    position: fixed;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}

.menu {
    display: flex;

}

.menu__item {
    border-right: 1px solid black;
    padding: 0 16px;
}

.menu__item a {
    text-decoration: none;

    color: black;
}

.menu__item a:hover {
    color: #9f4444;
    text-decoration: underline;
}

.menu__item:last-child {
    border: none;
}

.greeting {
    width: 100%;
    padding-top: 100px;
    background-image: url("images/bg.png");
    background-size: cover;
    background-position: center;

    color: white;
    font-size: 42px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.about {
    padding: 0 160px;
}

.about__title {
    text-align: center;
    margin: 250px 0;
}

.about__title_ee {
    text-align: center;
    margin: 150px 0;
}

.picture {
    width: 100%;
    border-radius: 12px;
}

.greeting__title {
    text-align: center;
}

.card {
    background-color: #e4debe;
    width: 240px;
    padding: 15px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 31px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 31px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 31px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
}

.card:hover {
    transform: scale(1.3);
}

.buy {
    background-color: #e4debe;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #324b23;
    color: #ffffff;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
}

.buy:hover {
    background-color: rgb(13, 72, 13);
}

.title {
    font-weight: 600;
}

.price {
    margin: 12px 0;
}

.products__list {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto 120px;
}

footer {
    background-color: #324b23;
    color: #ffffff;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__text_20 {
    font-size: 60px;
    font-weight: 700;
    transform-origin: left;
    transform:  rotate(-45deg);
    position: absolute; 
    top: 0; 
    right: 0;
    margin-right: 60px; 
    margin-top: 290px
}
.footer__logo {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}
.photo_v102_97 {
    transform-origin: left;
    transform:  rotate(90deg);
    position: absolute; 
    top: 0; 
    left: 0;
    margin-left: 50px; 
    margin-top: 50px
}

.photo_vperv {
    transform-origin: left;
    transform:  rotate(45deg);
    position: absolute; 
    top: 0; 
    right: 0;
    margin-right: 50px; 
    margin-top: 50px
} 

.photo_v102_99 {
    transform-origin: left;
    display: block;   
    object-fit: cover;  
    
} 

.photo_v102_101 {
    transform:  rotate(-15deg) translateY(-50px);
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 430px; 
    padding-bottom: -500px;
} 

.photo_v102_18 {
    transform-origin: left;
    position: absolute; 
    top: 0; 
    right: 0;
    margin-right: 0px; 
    margin-top: 525px
} 

.photo_v102_156 {
    transform-origin: left;
    position: absolute; 
    top: 0; 
    right: 0;
    margin-right: 0px; 
    margin-top: 600px
} 

.body_et {
    display: grid;
    min-height: 100vh;
    background-color: #F5F1D3;
}

.grid-container_et {
    position: center; 
    top: 50%; 
    left: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
}

.item_et {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.button-container {
  width: 500px;
  height: 460px;
  border-top: 2px solid black;
  border-bottom: 1px dashed gray;
}

.reviews {
  background-color: #e4debe;
  padding: 20px;
  border-radius: 5px;
}
.review {
  padding: 10px;
  border-bottom: 1px solid #000000;
}
.review:last-child {
  border-bottom: none;
}
.review-text {
  font-size: 16px;
  margin-bottom: 5px;
}
.review-author {
  font-size: 14px;
  color: #999;
}

.photo_v102_202{
    
    display: flex;
    flex-grow: 1;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
    flex-direction: column;
    border-radius: 50px;
}

.photo_v102_121 {
    transform-origin: left;
    transform:   translateY(-50px);
    position: absolute;
    top: 0; 
    right: 0;
    margin-right: 200px; 
    margin-top: 225px;
    background-color: rgb(0, 0, 0);  
    border-radius: 50px;
} 

.services-container_et {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

.service-item_et {
    width: calc(33% - 2rem);
    background-color: #f0ecda;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform .3s ease-in-out;
    overflow: hidden;
    position: relative;
}

.service-item_et img {
    width: 50px;
    height: auto;
    object-fit: cover;
}

.service-item_et h2 {
    font-size: 1.7em;
    text-align: center;
    color: #324b23;
    margin-bottom: 10px;
}

.service-item_et p {
    padding: 10px;
    line-height: 1.6;
}

.service-item_et:hover {
    transform: scale(1.05); 
}

@media (max-width: 1000px) {  
    .container_ew {  
        display: none;  
    }  
}

@media screen and (max-width: 1280px) {
    div.contentblock {width: 1200px;}
}

@media screen and (max-width: 992px) {
    div.contentblock {width: 970px;}
}

max-width {
    .menu {
        display: none;
    }

    header {
        justify-content: center;
    }

    .greeting__title {
        text-align: center;
    }

    .about {
        padding: 0px 50px;
    }

    .products__list {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 30px;
    }
}